@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* Rails Tutorial Sign-up Section 7-1 adding pretty debug box */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}